@media only screen and (min-width: 1000px) {
  .margin_top {
    height: 5em;
    width: 100%;
    background-color: black;
  }
}

.navbar {
  padding: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}
@media only screen and (min-width: 1000px) {
  .navbar {
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
}
.navbar__container {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1000px) {
  .navbar__container__button_menu {
    display: none;
  }
}
.navbar__container h2 {
  margin-left: 1em;
}
.navbar__container h5 {
  margin-left: 1em;
}
@media only screen and (min-width: 1000px) {
  .navbar__container h5 {
    margin-left: 3em;
  }
}
.navbar__container__right {
  position: absolute;
  right: 0;
  margin-right: 2em;
}
.navbar__container__right--search {
  margin-left: 1.5em;
}
.navbar__container__menu ul {
  list-style-type: none;
}
@media only screen and (max-width: 1000px) {
  .navbar__container__menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    top: 4em;
    left: 0;
    padding: 1em;
  }
  .navbar__container__menu li:not(:last-child) {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar__container__menu ul {
    display: flex;
    gap: 1em;
    margin-left: 4em;
  }
}

.header {
  padding: 75px 20px;
  background-color: #333333;
}
.header__container {
  color: #FFFFFF;
}
.header__container h5 {
  width: 75%;
  letter-spacing: 2.8px;
}
.header__container h1 {
  font-family: Old Standard TT;
  font-size: 56px;
  font-weight: 400;
  margin: 40px 0 40px 0;
}
.header__container button {
  display: block;
}
.header__container button:nth-last-of-type(2) {
  margin-bottom: 24px;
}
.header__container button:nth-last-of-type(1) {
  background-color: #333333;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}
@media only screen and (min-width: 1000px) {
  .header__container {
    padding-top: 175px;
    padding-bottom: 123px;
    margin: 0 auto;
    width: calc(80% - 10px);
    max-width: 900px;
  }
  .header__container h5 {
    font-size: 14px;
    font-weight: 700;
  }
  .header__container h1 {
    font-size: 120px;
    font-weight: 400;
    width: 90%;
  }
  .header__container button {
    display: inline;
  }
  .header__container button:nth-last-of-type(1) {
    margin-left: 30px;
  }
}

.date_checker {
  font-size: 18px;
  font-weight: 700;
  padding: 36px 20px;
  color: white;
  background-color: #222222;
}
@media only screen and (min-width: 1000px) {
  .date_checker__container {
    margin: 0 auto;
    width: calc(80% - 10px);
    max-width: 900px;
    display: flex;
  }
}
.date_checker__container__inputbox {
  margin-bottom: 30px;
}
.date_checker__container__inputbox h6 {
  margin-bottom: 23px;
}
.date_checker__container__inputbox:nth-last-child(2) {
  margin-bottom: 42px;
}
@media only screen and (min-width: 1000px) {
  .date_checker__container__inputbox {
    width: 20%;
    margin-left: 30px;
  }
  .date_checker__container__inputbox:nth-last-child(2), .date_checker__container__inputbox:nth-last-child(3) {
    margin-bottom: 0px;
  }
}
.date_checker__container__inputbox__input {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 2px solid #BEAD8E;
}
@media only screen and (min-width: 1000px) {
  .date_checker__container__inputbox__input {
    display: flex;
    align-items: center;
  }
}
.date_checker__container__inputbox__input input {
  outline: none;
  border: none;
  margin-bottom: 14px;
  margin-left: 8px;
  background-color: #222222;
  color: #686868;
}
@media only screen and (min-width: 1000px) {
  .date_checker__container__inputbox__input input {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .date_checker__container__inputbox__input {
    padding-bottom: 14px;
  }
}
@media only screen and (min-width: 1000px) {
  .date_checker__container button {
    position: relative;
    left: 15em;
    height: 60px;
    width: 250px;
    top: 12px;
  }
}

.about_us {
  margin: 98px 20px 60px 20px;
}
@media only screen and (min-width: 1000px) {
  .about_us {
    margin: 120px auto;
    width: calc(80% - 10px);
    max-width: 900px;
    display: flex;
    gap: 80px;
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 1000px) {
  .about_us__description {
    position: relative;
    top: 7em;
  }
}
.about_us__description h5 {
  font-size: 13px;
  letter-spacing: 2.8px;
  font-weight: 700;
  color: #777777;
  margin-bottom: 32px;
}
.about_us__description h1 {
  font-size: 56px;
  font-weight: 400;
  font-family: Old Standard TT, sans-serif;
  margin-bottom: 16px;
}
.about_us__description p {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  margin-bottom: 24px;
}
.about_us__description button {
  width: 216px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 1000px) {
  .about_us__features {
    display: flex;
    gap: 30px;
  }
}
.about_us__features__feature {
  text-align: center;
  width: 270px;
  margin: 0 auto;
}
@media only screen and (min-width: 1000px) {
  .about_us__features__feature:nth-child(1) {
    margin-bottom: 55px;
  }
}
.about_us__features__feature__image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.about_us__features__feature__item {
  height: 300px;
  position: relative;
}
.about_us__features__feature__item img {
  margin-top: 54px;
}
.about_us__features__feature__item__back_image {
  position: absolute;
  width: 144px;
  height: 105px;
  right: 0;
  color: #F8F8F8;
  z-index: -1;
}
.about_us__features__feature__item h3 {
  margin-top: 29px;
  margin-bottom: 21px;
  font-size: 30px;
  font-weight: 400;
  font-family: Old Standard TT, sans-serif;
}
.about_us__features__feature__item p {
  width: 200px;
  margin: 0 auto;
  line-height: 22px;
  color: #111111;
  font-size: 14px;
  font-weight: 400;
}
.about_us__features__feature__item.dark {
  background-color: #222222;
  color: white;
  padding-bottom: 50px;
  position: relative;
  top: -4px;
}
.about_us__features__feature__item.dark p {
  color: white;
}
.about_us__features__feature:nth-child(1) {
  margin-bottom: 45px;
}
@media only screen and (min-width: 1000px) {
  .about_us__features__feature:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
  }
  .about_us__features__feature:nth-child(1) .about_us__features__feature__image,
  .about_us__features__feature:nth-child(1) .about_us__features__feature__item {
    position: relative;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: Roboto, sans-serif;
}

button {
  padding: 22px 45px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-color: #BEAD8E;
}

/*# sourceMappingURL=style.css.map */
