@use "./styles/margin_top";
@use "./styles/navbar";
@use "./styles/header";
@use "./styles/date_checker";
@use "./styles/about_us";
@use "./styles/rooms";
@use "./styles/intro_video";
@use "./styles/facilities";
@use "./styles/menu";
@use "./styles/slider";
@use "./styles/stats";
@use "./styles/footer";
@use "./styles/intro_about";
@use "./styles/counter";
@use "./styles/offers";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: Roboto, sans-serif;
}

button {
    padding: 22px 45px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background-color: #BEAD8E;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}