@media only screen and (min-width: 1000px) {
  .margin_top {
    height: 5em;
    width: 100%;
    background-color: black;
  }
}

.navbar {
  padding: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}
@media only screen and (min-width: 1000px) {
  .navbar {
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
}
.navbar__container {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1000px) {
  .navbar__container__button_menu {
    display: none;
  }
}
.navbar__container h2 {
  margin-left: 1em;
}
.navbar__container h5 {
  margin-left: 1em;
}
@media only screen and (min-width: 1000px) {
  .navbar__container h5 {
    margin-left: 3em;
  }
}
.navbar__container__right {
  position: absolute;
  right: 0;
  margin-right: 2em;
}
.navbar__container__right--search {
  margin-left: 1.5em;
}
.navbar__container__menu ul {
  list-style-type: none;
}
@media only screen and (max-width: 1000px) {
  .navbar__container__menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    top: 4em;
    left: 0;
    padding: 1em;
  }
  .navbar__container__menu li:not(:last-child) {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar__container__menu ul {
    display: flex;
    gap: 1em;
    margin-left: 4em;
  }
}

.header {
  padding: 75px 20px;
  background-color: #333333;
}
.header__container {
  color: #FFFFFF;
}
.header__container h5 {
  width: 75%;
  letter-spacing: 2.8px;
}
.header__container h1 {
  font-family: Old Standard TT;
  font-size: 56px;
  font-weight: 400;
  margin: 40px 0 40px 0;
}
.header__container button {
  display: block;
}
.header__container button:nth-last-of-type(2) {
  margin-bottom: 24px;
}
.header__container button:nth-last-of-type(1) {
  background-color: #333333;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}
@media only screen and (min-width: 1000px) {
  .header__container {
    padding-top: 175px;
    padding-bottom: 123px;
    margin: 0 auto;
    width: calc(80% - 10px);
    max-width: 900px;
  }
  .header__container h5 {
    font-size: 14px;
    font-weight: 700;
  }
  .header__container h1 {
    font-size: 120px;
    font-weight: 400;
    width: 90%;
  }
  .header__container button {
    display: inline;
  }
  .header__container button:nth-last-of-type(1) {
    margin-left: 30px;
  }
}

.date_checker {
  font-size: 18px;
  font-weight: 700;
  padding: 36px 20px;
  color: white;
  background-color: #222222;
}
@media only screen and (min-width: 1000px) {
  .date_checker__container {
    margin: 0 auto;
    width: calc(80% - 10px);
    max-width: 900px;
    display: flex;
  }
}
.date_checker__container__inputbox {
  margin-bottom: 30px;
}
.date_checker__container__inputbox h6 {
  margin-bottom: 23px;
}
.date_checker__container__inputbox:nth-last-child(2) {
  margin-bottom: 42px;
}
@media only screen and (min-width: 1000px) {
  .date_checker__container__inputbox {
    width: 20%;
    margin-left: 30px;
  }
  .date_checker__container__inputbox:nth-last-child(2), .date_checker__container__inputbox:nth-last-child(3) {
    margin-bottom: 0px;
  }
}
.date_checker__container__inputbox__input {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 2px solid #BEAD8E;
}
@media only screen and (min-width: 1000px) {
  .date_checker__container__inputbox__input {
    display: flex;
    align-items: center;
  }
}
.date_checker__container__inputbox__input input {
  outline: none;
  border: none;
  margin-bottom: 14px;
  margin-left: 8px;
  background-color: #222222;
  color: #686868;
}
@media only screen and (min-width: 1000px) {
  .date_checker__container__inputbox__input input {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .date_checker__container__inputbox__input {
    padding-bottom: 14px;
  }
}
@media only screen and (min-width: 1000px) {
  .date_checker__container button {
    position: relative;
    left: 15em;
    height: 60px;
    width: 250px;
    top: 12px;
  }
}

.about_us {
  margin: 98px 20px 60px 20px;
}
@media only screen and (min-width: 1000px) {
  .about_us {
    margin: 120px auto;
    width: calc(80% - 10px);
    max-width: 900px;
    display: flex;
    gap: 80px;
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 1000px) {
  .about_us__description {
    position: relative;
    top: 7em;
  }
}
.about_us__description h5 {
  font-size: 13px;
  letter-spacing: 2.8px;
  font-weight: 700;
  color: #777777;
  margin-bottom: 32px;
}
.about_us__description h1 {
  font-size: 56px;
  font-weight: 400;
  font-family: Old Standard TT, sans-serif;
  margin-bottom: 16px;
}
.about_us__description p {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  margin-bottom: 24px;
}
.about_us__description button {
  width: 216px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 1000px) {
  .about_us__features {
    display: flex;
    gap: 30px;
  }
}
.about_us__features__feature {
  text-align: center;
  width: 270px;
  margin: 0 auto;
}
@media only screen and (min-width: 1000px) {
  .about_us__features__feature:nth-child(1) {
    margin-bottom: 55px;
  }
}
.about_us__features__feature__image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.about_us__features__feature__item {
  height: 300px;
  position: relative;
}
.about_us__features__feature__item img {
  margin-top: 54px;
}
.about_us__features__feature__item__back_image {
  position: absolute;
  width: 144px;
  height: 105px;
  right: 0;
  color: #F8F8F8;
  z-index: -1;
}
.about_us__features__feature__item h3 {
  margin-top: 29px;
  margin-bottom: 21px;
  font-size: 30px;
  font-weight: 400;
  font-family: Old Standard TT, sans-serif;
}
.about_us__features__feature__item p {
  width: 200px;
  margin: 0 auto;
  line-height: 22px;
  color: #111111;
  font-size: 14px;
  font-weight: 400;
}
.about_us__features__feature__item.dark {
  background-color: #222222;
  color: white;
  padding-bottom: 50px;
  position: relative;
  top: -4px;
}
.about_us__features__feature__item.dark p {
  color: white;
}
.about_us__features__feature:nth-child(1) {
  margin-bottom: 45px;
}
@media only screen and (min-width: 1000px) {
  .about_us__features__feature:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
  }
  .about_us__features__feature:nth-child(1) .about_us__features__feature__image,
  .about_us__features__feature:nth-child(1) .about_us__features__feature__item {
    position: relative;
  }
}

.rooms {
  text-align: center;
}
.rooms h5 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: #777777;
}
.rooms h1 {
  font-size: 56px;
  font-weight: 400;
  font-family: Old Standard TT, sans-serif;
  margin: 24px 0;
}
@media only screen and (min-width: 1000px) {
  .rooms h1 {
    margin-bottom: 75px;
  }
}
.rooms__icons {
  background-color: white;
  height: 29px;
  max-width: 75%;
  margin: 0 auto;
}
@media only screen and (min-width: 1000px) {
  .rooms__icons {
    max-width: 310px;
  }
}
.rooms__icons img {
  vertical-align: middle;
}
.rooms__icons img:not(:nth-last-of-type(7)) {
  margin-left: 15px;
}
.rooms__slider {
  position: relative;
  height: 244px;
  width: 100%;
  background-color: #E5E5E5;
  top: -14px;
  z-index: -1;
}
.rooms__slider--left, .rooms__slider--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  width: 32px;
  height: 32px;
}
.rooms__slider--left {
  left: 0;
}
.rooms__slider--right {
  right: 0;
}
@media only screen and (min-width: 1000px) {
  .rooms__slider {
    width: 770px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.rooms__description {
  padding: 19px 24px;
  margin: auto 20px;
  position: relative;
  top: -35px;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 1000px) {
  .rooms__description {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rooms__description__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 60%;
  }
  .rooms__description h3 {
    font-size: 40px;
    font-weight: 700;
    margin-right: 15px;
  }
  .rooms__description h3 span {
    font-size: 16px;
  }
}
.rooms__description h4 {
  font-family: Old Standard TT, sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1.2px;
  margin-bottom: 12px;
}
.rooms__description p {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  margin-bottom: 12px;
}
.rooms__description h3 {
  font-size: 32px;
  font-weight: 700;
  color: #BEAD8E;
}
.rooms__description h3 span {
  font-size: 16px;
}

.intro_video {
  position: relative;
  background-color: #AD9D82;
}
.intro_video__container {
  background-color: #222222;
  color: #FFFFFF;
  padding: 64px 20px 48px 20px;
}
@media only screen and (min-width: 1000px) {
  .intro_video__container {
    max-width: 70%;
    min-height: 700px;
    padding-left: 20%;
    vertical-align: middle;
  }
  .intro_video__container h5,
  .intro_video__container h1,
  .intro_video__container p,
  .intro_video__container button {
    max-width: 56%;
  }
}
.intro_video__container h5 {
  color: #BDAC8D;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  margin-bottom: 32px;
}
.intro_video__container h1 {
  font-size: 56px;
  font-family: Old Standard TT, sans-serif;
  font-weight: 400;
  letter-spacing: -1.2px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 1000px) {
  .intro_video__container h1 {
    font-size: 80px;
  }
}
.intro_video__container p {
  color: #C2C2C2;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 32px;
}
.intro_video__container iframe {
  margin: 0 auto;
  max-width: 335px;
  height: 270px;
  display: block;
  margin-bottom: 36px;
}
@media only screen and (min-width: 1000px) {
  .intro_video__container iframe {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 570px;
    height: 460px;
  }
}
.intro_video__container button {
  width: 216px;
}

.facilities {
  text-align: center;
}
.facilities h5 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: #777777;
  margin-top: 60px;
}
@media only screen and (min-width: 1000px) {
  .facilities h5 {
    margin-top: 118px;
  }
}
.facilities h1 {
  font-size: 56px;
  font-family: Old Standard TT, sans-serif;
  font-weight: 400;
  letter-spacing: -1.2px;
  margin: 24px 24px 32px 24px;
}
@media only screen and (min-width: 1000px) {
  .facilities h1 {
    margin-bottom: 40px;
  }
}
.facilities__grid {
  display: flex;
}
@media only screen and (min-width: 1000px) {
  .facilities__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 47px;
  }
}
.facilities__grid__card {
  text-align: left;
  margin-left: 38px;
  min-width: 100%;
}
@media only screen and (min-width: 1000px) {
  .facilities__grid__card {
    max-width: 370px;
    min-width: unset;
  }
}
.facilities__grid__card__img_container {
  min-height: 188px;
  position: relative;
}
.facilities__grid__card--rating {
  position: absolute;
  left: 0;
  bottom: 38px;
}
.facilities__grid__card--number {
  position: absolute;
  top: 0;
  right: 65px;
}
.facilities__grid__card h3 {
  font-family: Old Standard TT, sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9;
  margin-bottom: 28px;
}
.facilities__grid__card p {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 75%;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1000px) {
  .facilities__grid__card p {
    margin-bottom: 52px;
  }
}
.facilities__dots_selection {
  margin-bottom: 64px;
}
@media only screen and (min-width: 1000px) {
  .facilities__dots_selection {
    display: none;
  }
}

.stats {
  background-color: #222222;
  color: #FFFFFF;
  text-align: center;
  padding: 48px 83px;
}
@media only screen and (min-width: 1000px) {
  .stats {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    margin: 0 15%;
  }
}
.stats__card {
  font-weight: 700;
}
.stats__card img {
  margin-bottom: 16px;
}
.stats__card h2 {
  font-size: 60px;
}
.stats__card h5 {
  font-size: 16px;
  color: #999999;
}
.stats__card:not(:nth-child(1)) {
  margin-top: 60px;
}
@media only screen and (min-width: 1000px) {
  .stats__card:not(:nth-child(1)) {
    margin-top: unset;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: Roboto, sans-serif;
}

button {
  padding: 22px 45px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-color: #BEAD8E;
}

/*# sourceMappingURL=style.css.map */
