@use "./styles/home";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: Roboto, sans-serif;
}

button {
    padding: 22px 45px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background-color: #BEAD8E;
}