.intro_about {
    text-align: center;

    iframe {
        max-width: 335px;
        height: 186px;
        margin-bottom: 36px;
        margin-top: 60px;

        @media only screen and (min-width: 1000px) {
            max-width: 1170px;
            height: 650px;
        }
    }

    h2 {}
}